body{
    background-image: url();
}
p{
    color: rgb(28, 247, 57);
}
h1{
    color: blue;
}
ol{
    color: brown;
}
body{
    background-image: url(https://i.pinimg.com/originals/b9/c0/06/b9c006551baf3bdef73944fccbf8ddf2.png) ;
}
